<?xml version="1.0"?>
<launch>

<!-- ARG+PARAM: camera name and topic
    ?automatically find thosa data? -->

<!-- NODES -->
<!--NODO0: preprocessing image-->
 
<!-- NODE1: find arucos, 
            (TODO) cosmethic superimpose to image  -->
        <node 
                name="detector_aruco" 
                pkg="arm_vision" 
                type="detector_aruco.py" 
                respawn="true" 
                output="screen"
                launch-prefix="xterm -e"
        ></node>
    
<!-- NODE2: compute absolute position of markers using TF -->
        <node 
                name="referencer" 
                pkg="arm_vision" 
                type="referencer.py" 
                respawn="true" 
                output="screen"
                launch-prefix="xterm -e"
        ></node>
        
<!--NODE3:  answers to bridge requesting found markers-->
        <node 
                name="inquirer_aruco" 
                pkg="arm_vision" 
                type="inquirer_aruco.py" 
                respawn="true" 
                output="screen"
                launch-prefix="xterm -e"
        ></node>




<!-- collision server shall be included in another package ! -->
</launch>
