<?xml?>
<launch>

<!-- ARG+PARAM: camera name and topic
    ?automatically find thosa data? -->

<!-- NODES -->
<!--NODO0: preprocessing image
 
    NODE1: find arucos, cosmethic superimpose to image, 

            ? separate each of this nodes?

    
    NODE2: bridge for requests and compute absolute position of markers
            ? which is the best way to publish position data: TF, vectors ?

    !NODE3: collision server shall be included in another package !

 -->
</launch>